[2016-01-13 23:48] OlivierAlbertini opened #1 "Swift project"
Hi,

I would like to know if you have a swift version of your project ?

Thank you!

[2016-10-31 09:55] Jercik commented on #1
Swift example projects are provided for Swift 2.3 and Swift 3.0.

[2016-10-31 09:55] #1 closed

[2017-08-01 08:27] thedc89 opened #3 "Could not signal service com.apple.WebKit.Networking: 113: Could not find specified service"
When I test your iOS SDK I keep getting the following message in console:

Loading spinner gets shown, but nothing happens afterwards.

Looks like something is wrong with the webview, could you have a look?

[2017-08-01 10:39] Jercik commented on #3
It's a known issue on iOS 11. We are working on a fix. Thanks for your report.

[2017-08-01 10:44] thedc89 commented on #3
Well, it occurs on 10.3.3. The weird thing is that, it worked during the first run today, then refused to work anymore.

[2017-08-02 14:26] Jercik commented on #3
I have a possible fix for the issue. Please try updated version.

[2017-08-03 10:28] thedc89 commented on #3
I tried, but it does not work for me.

[2017-11-11 15:41] simonlinj opened #4 "iOS 9 Compatibility"
Hi
Any specific reason you are dropping iOS 9 compatibility?

01939c7a12e10222c3a44d5602a3a129151dc6cb
As far as I know, Swift 4 is still compatible with iOS 7 and above. Please re-add iOS 9 support in the next release if posible. Thank you very much!

[2017-11-11 16:13] simonlinj commented on #4
#5

[2017-11-13 13:46] simonlinj opened #6 "EditText disappears when Keyboard popup"
The EditText is not visible when typing.  Tested on iPhone 7 iOS 11.1.1

![whatsapp-video-2017-11-13-at-10 19 41-am](https://user-images.githubusercontent.com/1506890/32728415-060b2b4e-c85f-11e7-9658-172dbae7bdaa.gif)

[2017-11-15 14:47] ZiggyKraus commented on #4
Hello @simonlinj ,

Thank you for reaching us with this case! I'm happy to report that we have [re-established](https://github.com/livechat/chat-window-ios/commit/7c1d87ab1c3eb7777fce771c217ca8a7090df93d) the support of iOS 9 in our LiveChat iOS widget – we apologize for the inconvenience!

In case of any additional questions, please don't hesitate to ask.

[2017-11-15 15:01] ZiggyKraus commented on #6
Hello @simonlinj !

Would it be possible for you to provide us with a working app where we could investigate this behaviour? If that's the case, we will truly appreciate it!

Thank you very much in advance. Also, in case of any additional questions, please don't hesitate to as.

[2017-11-15 16:17] #4 closed

[2017-11-17 19:51] KevRyan2 commented on #3
still no fix for this?

[2017-12-05 14:58] Jercik commented on #6
Fixed in `2.0.7`

[2017-12-05 14:58] #6 closed

[2017-12-06 15:09] wfratczak commented on #3
any updates?

[2017-12-06 15:26] ZiggyKraus commented on #3
Hello guys!

We have taken a closer look at this issue and (un)fortunately we are not able to replicate it on the newest version of our chat widget for iOS. Because of that, could you update your LiveChat widget for iOS to the latest version (`2.0`) and see if that will help?

If not, we will truly appreciate if you could provide us with some additional details on how can we recreate this issue ou

[2017-12-06 16:25] wfratczak commented on #3
@ZiggyKraus I've updated my last comment. :)

[2017-12-09 04:41] rafiq34 opened #7 "Github"
Please help how can got code

[2017-12-09 04:42] rafiq34 commented on #6
How can active my id please help me

[2017-12-09 10:24] msypko commented on #6
Hi @rafiq34!

This issue is now closed - I recommend you to visit our chat on www.livechatinc.com and elaborate your question. Our Support Heroes would be happy to help you :-) Our operators are available 24/7/365.

You can always shoot us an email too: support@livechatinc.com

[2017-12-09 10:27] msypko commented on #7
Hi @rafiq34!

Could you elaborate what your issue is? What code do you mean?

I recommend you to visit our chat on www.livechatinc.com and elaborate your question to get help immediately. Our Support Heroes would be happy to help you :-) Our operators are available 24/7/365.

You can always shoot us an email too: support@livechatinc.com

[2017-12-13 12:47] ZiggyKraus commented on #3
@wfratczak Thank you very much for providing me with additional details! I will consult this case with our iOS developer and ask him to take a closer look on the chat widget running on older versions of iOS. And, I apologize for such late reply

[2017-12-22 09:19] bombez opened #8 "Chat Session"
Hi,
I'll currently develop an App with Login flow and I've implement the LiveChat successfully, but I've notice that there's no method to reset session.
Let me explain:
login -> start chat -> logout -> start chat

when the user start the chat for the second time, it's present the previous chat.
I think I've miss something, there's a method to reset the communication and start a new chat??
Thanks.

[2017-12-22 15:05] Jercik commented on #8
Hi, I've added method called `clearSession()` which clears all cookies and website data. Please try it and tell me if it's working as expected.

[2018-01-02 07:18] kavin-vakilsearch opened #9 "Way to delete or clear conversation"
Is there a way to delete a conversation or clear it entirely? For example if a user logs out and a new one logs in I don't want the second one to see the support messages from the first one.

[2018-01-02 10:01] #9 closed

[2018-01-09 09:39] bombez commented on #8
Hi Jercik,
thank you, it is working as aspected!

[2018-01-09 09:40] #8 closed

[2018-01-09 19:35] j-rewerts opened #10 "Receiving messages when app is in background"
I'm currently trying to allow notifications in my iOS app. If a visitor is using the app and closes it, I'd like them to receive notifications when an agent responds to them at least for a short while after closing the app.

[2018-01-09 19:40] j-rewerts commented on #10
In order to test an easy implementation of this, I've added UIApplication.shared.beginBackgroundTask to the class that implements LiveChatDelegate. The code in my delegate continues to run when the app is closed, but I no longer receive any messages.

[2018-01-09 19:40] j-rewerts commented on #10
I've confirmed this on an iPhone 5, iOS version 10.3.3.

[2018-01-09 23:25] j-rewerts opened #11 "How to handle LiveChat errors"
I've been running into an error NSURLErrorDomain -999 every now and then. It's a fairly harmless error as far as I'm aware, but LiveChat displays the error. I found this by looking in ChatView.swift lines 413-415:

[code]

Ideally, I'd like to be able to handle this error myself, or just have it swallowed. I can modify the LiveChat source in my pods is another option I suppose.

From what I've rea

[2018-01-10 07:20] Jercik commented on #10
Hi, unfortunately it is not possible to receive messages while app is in background. This chat widget works by running JavaScript code in hidden WKWebView, and WKWebView just stop executing any code when app enters background.

[2018-01-10 07:20] #10 closed

[2018-01-10 13:56] bombez opened #12 "Disale 3D Touch"
Hi,
I would like to know if there is a possibility to disable the 3D Touch functionality.
To be more clear I've attach a video.

Thanks
[issue-24.mov.zip](https://github.com/livechat/chat-window-ios/files/1618942/issue-24.mov.zip)

[2018-01-15 10:02] bombez opened #13 "Status Bar error"
Hi,
in my app I've notice that there's a problem with the status bar,
![issue](https://user-images.githubusercontent.com/14980441/34936908-402bd5ac-f9e3-11e7-9e4b-71634e4c9bec.jpg)
that iOS behavior is only present on the os version previous than the 11.
Could you please investigate?
Thanks

[2018-01-18 12:25] llKoull opened #14 "Problem using LiveChat"
Hi!

I'm using this library in my App but i detected some crashes in LiveChat.swift line 117

`NotificationCenter.default.addObserver(forName: NSNotification.Name.UIApplicationDidBecomeActive, object: nil, queue: nil) { (notification) in
            self.window.frame = UIApplication.shared.keyWindow!.frame
        }`

Maybe the problem is that keyWindow is nil and when it tries to access, the app

[2018-01-23 14:11] Jercik commented on #14
Hi, I can't reproduce your issue, but certainly if `UIApplication.shared.keyWindow` would be `nil`, app would crash. I've added `if let` statement instead of force unwrapping `UIApplication.shared.keyWindow!`. Please check if issue is fixed in version `2.0.10`.

[2018-01-23 14:12] Jercik commented on #13
Hi, I've fixed issue on iOS 10 and earlier in widget version `2.0.10`. Please update your dependency.

[2018-01-23 14:12] #13 closed

[2018-01-23 14:15] Jercik commented on #12
Hi, the issue is fixed in version `2.0.10`. Please update your dependency.

[2018-01-23 14:15] #12 closed

[2018-01-23 14:30] Jercik commented on #11
Hi, I've made changes in version `2.0.10` and alert will no longer be shown to users for `-999` errors.

[2018-01-23 14:30] #11 closed

[2018-01-23 15:43] llKoull commented on #14
Great! thanks for your help @Jercik ^_^

[2018-02-12 14:18] bombez opened #15 "Strange Behavior"
Hi,
I notice this strange behavior during the test, could you please review?
Thanks
[Issue.mp4.zip](https://github.com/livechat/chat-window-ios/files/1716548/Issue.mp4.zip)

[2018-04-24 10:12] bombez commented on #15
@Jercik could you please help me on this?
Thanks

[2018-07-10 05:09] jaysson opened #16 "Pre-chat survey not filled automatically"
I am creating an app with login flow. Since I know the email & name of the person, I would like to skip pre chat survey and use those details instead. However, programmatically setting name and email isn't working.

I tried the same with a very basic single view controller xcode project. Outlets and action are properly connected. I am getting the name and email printed in console. However, pre cha

[2018-08-22 01:58] fanguohuiruan commented on #3
The loading view don't disappear, it just keep loading! my device is iPhone 6s, version 10.2.

[2018-09-25 09:01] loaielayan opened #18 "Chat window keep loading on device , IOS APP"
Hi , Implemented chat to my IOS App , it works fine on simulator but the chat window keep loading on actual IOS device

thanks

[2018-10-04 09:39] pockerhead opened #19 "Failed to add LiveChat SDK with Carthage"
I added following line github "livechat/chat-window-ios" ~> 2.0.11 to my Cartfile and run
`$carthage update --platform iOS`

But it fails with error:
[code]

When I checked log, I found line:

`error: Build input file cannot be found: '/***/Carthage/Checkouts/chat-window-ios/Sources/HideInputAccessoryHelper.swift'`

[2018-10-10 13:17] andreasfagerberg opened #20 "Cannot access LC_API"
Trying to access LC_API to use callbacks like `on_chat_started` but none of the documented functions seem to work. This worked previously, but now seems to be broken

[2018-10-18 10:45] injectios opened #21 "Support swift 4.2?"

[2018-12-12 11:25] Mustafaefe opened #22 "No such LiveChat Module"
I am using XCode 10.1. But When i run the project, build failed. The reason is No such module 'LiveChat'.

[2018-12-19 07:06] KristinaGenius opened #23 "Close chat function"
Hi! We have livechat in our IOS App, but there is no function to close the chat there.

[2019-01-17 21:39] nick-iCars commented on #18
I'm having this issue too. I used your example app to test, and it works fine with the LiveChat company ID included in the repo, but when I put our company ID in it shows the loading spin screen indefinitely. Same behavior as when implemented in our own app's code. Any suggestions?

[2019-01-18 11:26] Rendel27 opened #25 "Chat window doesn't open"
Hello,

I've implemented Live Chat SDK into app:

[code]

[code]

Then I try to present chat using the following method:
[code]

The problem is that the chat mostly doesn't open. It presents infinite loading screen.
![simulator screen shot - iphone 8 - 2019-01-18 at 15 24 30](https://user-images.githubusercontent.com/5988751/51384279-4668ca00-1b35-11e9-99a5-16b067af521f.png)

I did everything as i

[2019-01-18 11:30] ZiggyKraus commented on #25
Hello @Rendel27 ,

Thank you for reporting this! I have got two questions:

- Could you provide me with the ID of your LiveChat license that you are trying to use in your Android app?
- Can you see any errors messages displayed in your project's console, when trying to present the LiveChat view?

Thanks in advance for your reply!

[2019-01-18 11:33] Rendel27 commented on #25
Hello @ZiggyKraus ,

1. We use same Id for both iOS and Android SDK.
2. There are no error messages in logs related to Live Chat

[2019-01-18 13:21] Rendel27 commented on #25
@ZiggyKraus ,
I've added the id in the comment above.

[2019-01-18 19:23] nick-iCars commented on #18
Can someone get in touch with me, the support center is no help. Is there anything I need to enable on our account for this to work? Seems odd that your sample app doesn't work with our key.

[2019-01-23 10:23] ZiggyKraus commented on #25
Hello @Rendel27 ,

So sorry for the late response. To be honest, without any error messages thrown by your LC implementation I'd guess that this is a problem caused by the way in which you are implementing the whole LiveChat widget into your project, but there's not much that rely on for the moment. However, I've got one idea that can help, based on similar issues reported by our customers in the

[2019-01-23 12:53] Rendel27 commented on #25
Hello @ZiggyKraus ,

We implement live chat as it is described in documentation. There is no such thing called "groupId" presented in documentation.
We have created new test project which has only Live Chat SDK implementation and the issue still remains. We can send you this project if you are wiling to examine or debug it.

Thanks
Rendel

[2019-01-25 22:39] nick-iCars commented on #18
I replaced channel name with "0" works now

[2019-01-29 10:37] ZiggyKraus commented on #25
@Rendel27

Sorry for the late reply! Just as mentioned before, we might need the access to the source code of the application: if you could provide us with the source code of your app or the link to the repository where we could run the project natively at your side, I will ask our iOS developer if he could check it out and see what might be going wrong there, however I cannot promise any specific

[2019-01-29 11:00] Rendel27 commented on #25
@ZiggyKraus

This is a test project which contains only chat and faces the same issue.
https://bitbucket.org/wandio/testlivechat.git

[2019-02-18 10:54] neelbakshi94 commented on #25
Any update on this issue?

[2019-02-18 10:56] Rendel27 commented on #25
@ZiggyKraus
Do you have any update regarding this?

[2019-02-18 11:00] ZiggyKraus commented on #25
@Rendel27 @neelbakshi94
Unfortunately,  I'm genuinely sorry, but I'm afraid that we do not have an update regarding this issue yet. :( I can confirm that our developers were not able to recreate the issue that you have described in your initial messages (we've run some tests on our LiveChat application that includes the native chat widget for iOS), but we did not get a chance to review the code th

[2019-03-04 15:03] kamil-szostakowski commented on #25
Hi @Rendel27 @neelbakshi94 please add one or both of the following lines to your configuration. I verified the sample project and it looks like widget requires at least one of these lines to start. I will check why this is like that but for the time being it may unblock you.

[code]

Please let me know it it helps.

[2019-03-05 16:01] kamil-szostakowski commented on #25
The root cause of this issue is the fact that the widget configuration wasn't correctly updated when you set only one configuration parameter (eg license id). Fixed by pull request #28.

[2019-03-05 16:07] kamil-szostakowski commented on #19
Issue fixed by #29. Fix is available in version 2.0.12.

[2019-03-05 16:22] #19 closed

[2019-03-05 16:23] kamil-szostakowski commented on #21
Fixed by pull request #25. Fix available in version 2.0.12.

[2019-03-05 16:24] #14 closed

[2019-03-05 16:26] kamil-szostakowski commented on #18
@nick-iCars  looks like this is a duplicate of #25. Please let me know if you are still experiencing this issue.

[2019-03-05 16:26] #18 closed

[2019-03-05 17:47] kamil-szostakowski commented on #22
@Mustafaefe could you please describe how did you integrate the library?

[2019-03-05 17:48] kamil-szostakowski commented on #23
@KristinaGenius there is a close button on the top right corner of the chat window. Is that what you are looking for?

[2019-03-05 18:10] #25 closed

[2019-03-05 18:11] #21 closed

[2019-03-06 10:14] Rendel27 commented on #25
Hi @kamil-szostakowski ,

I've added the part of code about email and name properties and it works using that.
But we don't want to autofill that data for users.
I've updated pods and installed 2.0.12 version but the issue still exists. (without autofill email & name properties).

[2019-03-06 22:45] kamil-szostakowski commented on #25
Hi @Rendel27

Are you sure that you updated to 2.0.12? I checked again with the sample project you provided us with and everything is working like a charm. Could you please paste the log from your `pod update`?

Getting back to the workaround, it's enough to do something like that. You don't have to provide a full email address.
[code]

[2019-03-15 11:59] Rendel27 commented on #25
I've updated pods on real project not on the test one.
But it seems chat window just started to open normally without assigning name and email properties.
As it works for now I won't implement "assigning" workaround. If it started bugging again I'll add the workaround you've mentioned before. And if it still didn't help I'll notify you.
Thanks for your assistance.
Giorgi

[2019-04-09 13:43] lukiq opened #31 "Custom variables are added without any order"
Steps to reproduce:

Add to demo app: (for example Example-Swift app) this code:
[code]

Result in the app: https://take.ms/NBjim

Expected result:
Custom variables should be visible in the order that they were added in the code.

[2019-04-11 00:01] alrosello opened #32 "Chat window drawing issues on iPhone with iOS 12.2"
We have an issue with using the Chat Widget on the iPhone with iOS 12.2, 12.1 , 12.0, 11.2.6

**Steps To Reproduce**
1. Open iOS app with widget integrated on an iPhone with iOS 12.2
2. Start Live Chat
3. Fill out prechat survey
4. Agent Starts the chat which triggers the chat thread to open in the app

Basically the message entry text box and send button end up in the middle of the screen detache

[2019-04-11 14:05] kamil-szostakowski commented on #31
@lukiq  What should be an expected result of such a chain.
[code]
Assuming that the left most element is the first one.
[code]
Which one is correct?

[2019-04-11 14:11] kamil-szostakowski commented on #23
Closed due to no activity.

[2019-04-11 14:11] #23 closed

[2019-04-11 14:12] kamil-szostakowski commented on #22
Closed due to no activity.

[2019-04-11 14:12] #22 closed

[2019-04-11 14:19] alrosello commented on #31
I am not sure I understand the question.

But I would expect that the order in which we set the variables is the order they would show on the agent screen

A=1
B=1
C=3
A=4

From: Kamil Szostakowski [mailto:notifications@github.com]
Sent: Thursday, April 11, 2019 10:05 AM
To: livechat/chat-window-ios
Cc: Al Rosello; Manual
Subject: [External]Re: [livechat/chat-window-ios] Custom variables are added

[2019-04-11 15:19] lukiq commented on #31
This one should be correct.
[code]

According to the documentation: https://developers.livechatinc.com/docs/js-api/#set-custom-variables, there is no option to sent variable with the same name.

[2019-04-11 20:18] kamil-szostakowski commented on #32
Thanks for the great video explanation. I will check that soon.

[2019-04-12 13:08] alrosello commented on #32
We are using 2.0.13

[2019-04-12 15:06] alrosello commented on #32
So LiveChat support suggested that we switch to the latest live chat update since we were using the older version still.  So we switched to the new version and we are having a much better experience with iOS 12.2.  The Chat window header still scrolls up off the screen, but the chat thread is still visible on the screen and does not require the user to scroll up and down to chat.   Here is an upda

[2019-04-16 15:03] kamil-szostakowski commented on #31
Implemented in version 2.0.14.

[2019-04-16 15:03] #31 closed

[2019-04-16 15:11] kamil-szostakowski commented on #32
@alrosello We investigated that problem on both platforms and this behavior turned out to be caused by a differences in implementations of web view on Android and iOS. When keyboard pops up, Android resizes the visible content area so the chat view gets resized as well. In the same situation, iOS leaves the visible content area unchanged so it gets scrolled up and top bar gets hidden.

Unfortunate

[2019-04-16 15:11] #32 closed

[2019-04-16 15:28] alrosello commented on #32
Ok thanks for the review and response.  I think based on what we saw last week after changing to the latest chat widget theme that the functionality works well enough and will not impact the user experience.

From: Kamil Szostakowski [mailto:notifications@github.com]
Sent: Tuesday, April 16, 2019 11:12 AM
To: livechat/chat-window-ios
Cc: Al Rosello; Mention
Subject: [External]Re: [livechat/chat-wi

[2019-04-25 15:29] kamil-szostakowski commented on #7
Closed due to inactivity.

[2019-04-25 15:29] #7 closed

[2019-05-02 15:10] dbalk001 opened #34 "Chatting bug appearing twice when pressed once!"
I've downloaded the latest version and having this issue.

https://thinkbusinessfinance-my.sharepoint.com/:v:/g/personal/david_balkwill_thinkbusinessloans_com/Ee35Qh0WXGtEnMbYgu40FuYB8Qm4kzHxYKdXsbCoXg2iCw?e=URXBlr

Thanks

[2019-05-10 20:22] Zhipeng-Chang opened #35 "swift build error"
Hi,
I'm running into a build error:

the error message is:
"Value of type 'CustomVariables' (aka 'Array<(String, String)>') has no member 'firstIndex'"

from this line of code:
https://github.com/livechat/chat-window-ios/blob/70c846185998d574a7c95b67e68ea77cb1a6fd1f/Sources/LiveChat.swift#L132

[2019-05-14 22:20] kamil-szostakowski commented on #35
What are the Xcode and Swift versions you are using in your project?

[2019-05-14 22:22] Zhipeng-Chang commented on #35
Hi @kamil-szostakowski ! Thank you for getting back! I have found the reason for that, I was using Swift 4.0, for some reasons, it doesn't support function "firstIndex", after I changed to "index", it works!

[2019-05-14 22:22] #35 closed

[2019-05-17 07:51] EvanGregg opened #36 "White screen appears and remains on opening chat"
I have integrated the iOS LiveChat SDK (2.0.13) into our app using CocoaPods and occasionally, on opening the chat window, we see a totally white view (apart from the status bar).  Unfortunately there is no way for the user of the app to close the view, they must kill the app and relaunch - on relaunching, the chat will successfully load.

I have not yet been able to identify steps or scenarios wh

[2019-05-17 14:07] kamil-szostakowski commented on #34
Fixed in version 2.0.15

[2019-05-17 14:07] #34 closed

[2019-05-17 14:08] kamil-szostakowski commented on #36
@EvanGregg thanks for the report. I will try to reproduce the issue. In case you will establish anything more please let me know.

[2019-05-24 19:33] kamil-szostakowski commented on #36
@EvanGregg unfortunately despite of many attempts I wasn't able to reproduce the problem. I checked on iOS 11 and 12. Different account, different licenses, devices and simulators,not a single reproduction. Could you please provide more details about that problem? iOS version, device type, any specific steps which increase the chance of reproduction?

Is this possible for you to provide us with so

[2019-06-11 04:31] bull-xu opened #38 "Status bar style"
The lib should have the ability (configuration) to set the status bar style. The `UIViewControllerBasedStatusBarAppearance ` in info.plist sets to YES in our project, the status bar style we want to show is `.lightContent` when the Live Chat window is open. It seems the status bar style is `.default` by default.

[2019-06-12 06:27] anandcapgemini opened #39 "Not able to clearSession()"
When i call clearSession() it works well as expected. But when i again launch my bot after clearing out sesssion, the delegate method for livechat did not get  called. 'received' method stops calling immediately after calling clear sesssion.

[2019-06-12 08:26] prashantdabhi9033 opened #40 "Support for iPhoneX, XR, Xs and MAX"
the presented view controller is not compatible with iphoneX, XS, MAX and XR

please add safe area layout and display over the full view

currently when present chat view we can see the view controller which is behind the chat view

also make the dismiss chat view delegate override so if user dismiss the chat we can handle that as per our reuirements
![IMG_0003](https://user-images.githubuserconte

[2019-06-17 23:59] anandcapgemini commented on #39
any update on the issue

[2019-06-18 16:19] kamil-szostakowski commented on #38
Fixed in #42. Will be available in version 2.0.16.

[2019-06-18 16:19] kamil-szostakowski commented on #40
Fixed in #42. Will be available in version 2.0.16.

[2019-06-18 16:58] kamil-szostakowski commented on #39
Could you please provide more detail on that issue? All the steps required for reproduction. Sample project illustrating the problem would be ideal.

[2019-06-19 20:21] kamil-szostakowski commented on #36
Closed due to no activity.

[2019-06-19 20:21] #36 closed

[2019-06-19 20:39] kamil-szostakowski commented on #38
Released in 2.0.16.

[2019-06-19 20:39] #38 closed

[2019-06-19 20:39] kamil-szostakowski commented on #40
Released in 2.0.16

[2019-06-19 20:39] #40 closed

[2019-06-20 04:41] bull-xu commented on #38
Hi @kamil-szostakowski could you please advise that where can I set the status bar style for the `LiveChatOverlayViewController`? Thanks.

[2019-06-25 15:33] kamil-szostakowski commented on #38
Hi @bull-xu, sorry for late response. After discussion with product team we decided to fill entire screen with with the widget. It means that the background under the status bar will be white and and the status bar style for the widget remains .default so the visual aspects of the widget and hosting app won't overlap.

[2019-06-25 15:34] kamil-szostakowski commented on #15
@bombez is this still an issue?

[2019-06-25 15:34] kamil-szostakowski commented on #16
@jaysson are you still experiencing that issue?

[2019-06-25 15:36] kamil-szostakowski commented on #20
@andreasfagerberg could you please provide more details about this issue? What version of the widget are you using?

[2019-06-27 02:24] bull-xu commented on #38
Hi @kamil-szostakowski thanks for your response. I'm happy the latest changes on filling the entire screen with the widget. It looks better.

[2019-06-27 02:27] jaysson commented on #16
I am not using Livechat anymore.

[2019-07-02 12:32] kamil-szostakowski commented on #39
Closed due to the inactivity.

[2019-07-02 12:32] #39 closed

[2019-07-02 12:33] kamil-szostakowski commented on #20
Closed as inactive.

[2019-07-02 12:33] #20 closed

[2019-08-16 07:50] AliHassoun7 opened #45 "Customers cant attach files using live chat"
Customers cant attach files using live chat please any advice ?

[2019-09-02 18:02] kamil-szostakowski commented on #45
Hi @AliHassoun7 could you please include more details how do you reproduce the problem? On my end I'm able to send files without any problems.

[2019-09-02 18:05] kamil-szostakowski commented on #16
Closing as not reproducible.

[2019-09-02 18:05] #16 closed

[2019-09-02 18:07] kamil-szostakowski commented on #3
Closing due to inactivity.

[2019-09-02 18:07] #3 closed

[2019-09-23 18:52] Hamza123Imran opened #46 "Pod file issue in iOS App installation"
Hi, my Xcode version is 11.0 and i'm trying to install LiveChat through pod file with name,
`pod 'LiveChat', '~> 2.0.17'` . Now when i install the file through terminal it shows me this error,
`CocoaPods could not find compatible versions for pod "LiveChat":
In Podfile:
LiveChat (~> 2.0.17)`. How can i resolve this issue? What is the new pod file?

[2019-09-25 03:29] andymedvedev opened #47 "Support different status bar color via delegation"
Support variable `preferredStatusBarStyle` via delegation in `LiveChatOverlayViewController`.

example code:
[code]

[2019-09-25 04:58] andymedvedev commented on #47
viewController is fixed. no more needing to configure status bar

[2019-09-25 06:45] varindersingh670 opened #49 "How to show default chat widget in iOS App."
I have followed below process to setup chat widget for iOS Mobile. but chat widget is not displaying on App.
**Go to Settings → Chat Window → Customization and click on Mobile Chat widget.**

 is there any code for showing / hiding chat widget permanently?
I am stuck on this point. if anyone have idea about ,please let me know.
Thanks

[2019-09-25 14:29] Hamza123Imran commented on #49
@varindersingh670  through which pod file u r integrating in iOS app?

[2019-09-25 14:29] Hamza123Imran commented on #47
@andymedvedev brother which pod file r u using in ur app?

[2019-09-25 16:17] kamil-szostakowski commented on #46
Hi @Hamza123Imran I'm not able to reproduce the issue on my side on Xcode 11 (official, installed from AppStore). What is the version of iOS you are targeting for?

[2019-09-25 16:20] kamil-szostakowski commented on #47
@andymedvedev @Hamza123Imran status bar on the chat widget screen is always white per design, there is no way to customize.

[2019-09-25 16:20] kamil-szostakowski commented on #45
Closed due to inactivity.

[2019-09-25 16:20] #45 closed

[2019-09-25 16:22] Hamza123Imran commented on #46
I'm running my app on simulator and my minimum version is 10.0,
My xcode version is 11.0
This is pod file i'm trying to install. pod 'LiveChat', '~> 2.0.17' . @kamil-szostakowski

[2019-09-25 16:25] kamil-szostakowski commented on #49
@varindersingh670 have you tried samples from the README?

[2019-09-25 16:27] kamil-szostakowski commented on #46
@Hamza123Imran could you please share your entire Podfile?

[2019-09-25 16:28] Hamza123Imran commented on #46
[Podfile.zip](https://github.com/livechat/chat-window-ios/files/3653676/Podfile.zip)
This is my pod file

[2019-09-25 17:33] kamil-szostakowski commented on #46
@Hamza123Imran I tried with your podfile and everything was installed just fine. Do you use swift, if yes which version? Are you sure that you are not targeting tvOS or any other platform?
[code]

[2019-09-25 17:33] #47 closed

[2019-09-25 17:35] Hamza123Imran commented on #46
No application is only for iPhone and my language version is Swift 4.2 . @kamil-szostakowski

[2019-09-25 17:44] kamil-szostakowski commented on #46
@Hamza123Imran could you please try `pod repo update` and then `pod install`?

[2019-09-25 17:46] Hamza123Imran commented on #46
okay let me try. @kamil-szostakowski

[2019-09-25 18:21] Hamza123Imran commented on #46
Yeah Now working fine, thanks for your help : ) . @kamil-szostakowski

[2019-09-25 20:35] #46 closed

[2019-09-27 09:41] dianamayores opened #50 "Missing input field title in Livechat using Apple phones/ipad mini"
See attached image for your reference. As you can see, titles per input field are not visible in the mobile app when using apple phones and ipad mini. But it is visible when we're using android phones.

![viber_image_2019-09-27_17-20-29](https://user-images.githubusercontent.com/7901503/65759402-713c0100-e14d-11e9-96b0-5f42c63eef46.jpg)

[2019-10-09 02:11] dianamayores commented on #50
This is what we currently encounter- see image below. The gap between the input boxes are now missing. By the way, we're using hybrid platform, which is Outsystems, as our medium and not the traditional way of developing native apps. This also uses UI Webview.

![livechat current issue](https://user-images.githubusercontent.com/7901503/66446225-41112e00-ea7c-11e9-85e2-55c5a61f1086.jpg)

[2020-01-02 04:21] kneekey23 opened #52 "Integration with SwiftUI app"
is this possible?
Right now I pulled in the files into my SwiftUIapp and I made the LiveChatOverlayController conform to UIViewControllerRepresentable and I also set the LiveChat.windowScene in my Scene Delegate. The view actually loads but it's indefinitely on the spinning loading view. Any way to get this to work?

[code]
[code]

![Simulator Screen Shot - iPhone 11 Pro - 2020-01-01 at 20 23 30](

[2020-01-08 03:07] kneekey23 commented on #52
issue was caused by missing license id. fixed.

[2020-01-08 03:07] #52 closed

[2020-01-10 09:54] SaiPrasadNavtech commented on #22
I am also facing the same issue, I tried with cocoa pods and manually added. In my app I am using Objective-c and Swift language and I am trying to import the framework in Appdelegate.m file

[2020-01-10 09:57] SaiPrasadNavtech opened #53 "While adding the framework to app facing the issue that "no such module LiveChat""
I tried with cocoa pods and manually added them. In my app, I am using Objective-c and Swift language and I am trying to import the framework in Appdelegate.m file and I am using Xcode 11.3

[2020-01-17 22:11] smckenzieSP opened #54 "Would like to have some kind of callback to know whether the chat has ended or is ongoing after being minimized"
I'm wanting to have a chat bubble visible on all screens when an active chat is going, it would be nice to have some way to know when the chat has ended so the chat bubble can be removed.

[2020-02-06 06:18] plusend opened #55 "How can I use my license to run the demo?"
LiveChat.licenseId = "1520" // Set your licence number here

I replace "1520" by my license to try. But nothing to see after I click "Chat with us!", only white after showed loading animation.

What should I do ?

[2020-02-06 12:19] #55 closed

[2020-02-06 13:26] Bor1ss opened #56 "Missing input field titles in Livechat on iOs app"
We have angular app where livechat widget is included. Everything works as expected on desktop/android, but not on iOS app. Part of titles are missed there.
iOs app has WebView which loads our app.

[SyncGene.zip](https://github.com/livechat/chat-window-ios/files/4165295/SyncGene.zip)

<img width="532" alt="Screenshot 2020-02-05 at 12 36 00" src="https://user-images.githubusercontent.com/5973910/7

[2020-02-20 20:53] jelenadj opened #57 "Swift 5 support"
Is it planned to migrate to Swift 5 anytime soon?
I've noticed there's already an open PR for that: https://github.com/livechat/chat-window-ios/pull/44

[2020-03-16 12:26] PPLLock commented on #53
Hello, I also get an error when running the demo here: CompileSwiftSources normal arm64 com.apple.xcode.tools.swift.compiler (in target 'LiveChat' from project 'Pods')
     cd / Users / apple / Downloads / chat-window-ios-master / Examples / Example-ObjC / Pods
     export DEVELOPER_DIR = / Applications / Xcode.app / Contents / Developer
     export SDKROOT = / Applications / Xcode.app / Contents

[2020-03-16 12:46] PPLLock commented on #53
Hello, I also get an error when running the demo here: CompileSwiftSources normal arm64 com.apple.xcode.tools.swift.compiler (in target 'LiveChat' from project 'Pods')
     cd / Users / apple / Downloads / chat-window-ios-master / Examples / Example-ObjC / Pods
     export DEVELOPER_DIR = / Applications / Xcode.app / Contents / Developer
     export SDKROOT = / Applications / Xcode.app / Contents

[2020-04-01 09:48] studentIvan commented on #54
+1 why we have this in the javascript API but not in the swift?

[2020-04-09 21:21] smckenzieSP opened #58 "White screen when trying to open chat if internet connection is lost after initializing app"
There's no back/refresh/close options, it forces the user to kill the app

[2020-04-14 16:19] bidawat opened #59 "Not opening livechat"
I am trying to integrate LiveChat in IOS app but getting below error message.

WebViewBridge unknown messageType: {
    messageType = uiReady;
}

#this is my code
let sm = SessionManager()
        let LIVECHAT_SUPPORT_LICENCE_NR = "licencekey"
        LiveChat.licenseId = LIVECHAT_SUPPORT_LICENCE_NR
        LiveChat.groupId = "0"
        LiveChat.name = "\(sm.firstName) \(sm.lastName)"
        Liv

[2020-04-24 10:25] Pulichev opened #60 "Customer ban leads to white screen"
When user, who was previously banned in dashboard, tries to open chat, it leads to white screen with no possibility to close it without app restart.
How can I handle this situations?

[2020-05-06 18:01] gauripandey opened #62 "how to hide automatic video open in iOS"
while opening live chat view, after sometimes one video will be opened that I don't want? Also I want to change title of header view with custom text?

[2020-06-03 00:42] liaollc opened #63 "check if the chat session is minimized or ended"
Is there a way to check if the chat session is currently minimized or ended?

[2020-06-15 09:00] abdulla-allaith opened #64 "⚠️ UIWindowScene warning message"
There's a constant warning showing in Xcode:
WARNING: `'UIWindowScene' is only available on iOS 13.0 or newer.`
in `LiveChat-Swift.h` file
in 2 functions:
`+ (UIWindowScene * _Nullable)windowScene SWIFT_WARN_UNUSED_RESULT;`
`+ (void)setWindowScene:(UIWindowScene * _Nullable)value;`

Possibly might be fixed by surrounding the block of code with `@available 13.0` check, and use alternative code for

[2020-06-30 15:20] jelenadj commented on #57
There's another PR for this as well, any chance we can get it handled sometimes soon? https://github.com/livechat/chat-window-ios/pull/61

[2020-07-10 01:34] tuanhoang90896 opened #65 "LoadingView.swift: Use of unimplemented initializer init(layer:)"
After install SmartLook library(https://smartlook.github.io/docs/sdk/ios/), when i open LiveChat app crash. Before LiveChat work normal.
Can you help me!

![Screenshot at Jul 07 10-28-20](https://user-images.githubusercontent.com/31724821/87106680-2debf280-c288-11ea-85c6-6a2d54bd7926.png)

[2020-07-16 10:39] kamil-szostakowski commented on #65
@tuanhoang90896 of course we will take a look at your issue. Could you please attach a simple demo project reproducing a problem?

[2020-07-21 07:44] kamil-szostakowski commented on #62
Could you please provide more detailed description about the problem? Reproduction steps will be much appreciated.

[2020-07-21 07:48] kamil-szostakowski commented on #59
This is actually not an error but a message saying that the widget received unsupported message from the service. Nothing critical. Is there any other problem we can assist you with?

[2020-07-21 07:55] kamil-szostakowski commented on #58
@smckenzieSP Is this still reproducible? I can see a close button in the top right corner?

![Simulator Screen Shot - iPhone SE - 2020-07-21 at 09 51 44](https://user-images.githubusercontent.com/9430934/88027859-281fc800-cb38-11ea-869a-a03a7d090725.png)

[2020-07-21 09:19] kamil-szostakowski commented on #64
@abdulla-allaith thanks for pointing this out. All the usages of `UIWindowScene` in the widget are annotated with @available. It looks like Xcode also generates setter and getter for this static property which doesn't inherit this annotation and it causes a warning. We will try to address this issue in the next planned release.

[2020-07-21 09:40] kamil-szostakowski commented on #63
@liaollc could you please elaborate more on what your expectation is?

[2020-07-21 16:48] smckenzieSP commented on #58
Hey, I'm seeing the same as you. The reload button doesn't seem to work for me though, the spinner just endlessly cycles. The user can exit out now so that's a lot better.

[2020-08-03 13:26] denis-hoz commented on #57
bump

[2020-08-13 10:40] kamil-szostakowski commented on #63
Closed due to inactivity.

[2020-08-13 10:40] #63 closed

[2020-08-13 10:41] kamil-szostakowski commented on #62
Closed due to inactivity.

[2020-08-13 10:41] #62 closed

[2020-08-13 10:41] kamil-szostakowski commented on #59
Closed due to inactivity.

[2020-08-13 10:41] #59 closed

[2020-08-13 10:42] kamil-szostakowski commented on #57
Implemented in version `2.0.19`.

[2020-08-13 10:42] #57 closed

[2020-08-13 10:43] kamil-szostakowski commented on #49
Closed due to inactivity.

[2020-08-13 10:43] #49 closed

[2020-08-13 10:43] kamil-szostakowski commented on #15
Closed due to inactivity.

[2020-08-13 10:43] #15 closed

[2020-08-13 10:45] kamil-szostakowski commented on #56
@Bor1ss how do you integrate our widget in the Angular app?

[2020-08-14 09:11] imegoff commented on #65
@tuanhoang90896 we investigated the issue. The solution we tried to introduce caused some additional, more extended problems. We decided to leave it unresolved as we are developing new LiveChat mobile apps (LiveChat Lite, you can find them in iOS and Android stores).

[2020-08-14 09:26] kamil-szostakowski commented on #58
Ok it looks like the problem is resolved then. The spinner issue might be cause by the connectivity issue as a widget tries to reconnect to the server.

[2020-08-14 09:26] #58 closed

[2020-08-14 09:37] kamil-szostakowski commented on #53
@SaiPrasadNavtech , @PPLLock do you guys still experience this issue? Both sample apps works fine. What is your setup? Xcode version, iOS version, Swift/Objc, Swift version?

[2020-08-14 09:40] kamil-szostakowski commented on #50
@dianamayores is this issue still reproducible?

[2020-08-17 07:58] Bor1ss commented on #56
@kamil-szostakowski  script is included in index.html

[2020-08-20 20:20] kamil-szostakowski commented on #54
@smckenzieSP @studentIvan unfortunately this feature is not planned to be included in the widget for a time being.

[2020-08-20 20:20] #54 closed

[2020-08-20 20:29] kamil-szostakowski commented on #65
@tuanhoang90896 the crash is fixed in version `2.0.20` however we recommend pausing smart look recording during interaction with the widget as we don't officially support this library in our widget. Recording can be paused using `Smartlook.stopRecording()` as stated in smart look [documentation](https://smartlook.github.io/docs/sdk/ios/).

[2020-08-20 20:29] #65 closed

[2020-08-24 10:08] rupeshmishra90 opened #68 "Localized string not found"
I've implemented LiveChat in ios. when I'm going to upload an attachment then got options from where we can upload an attachment. There are showing "localized string not found" on camera and gallery options. like following attachment.
![Simulator Screen Shot - iPhone 11 Pro Max - 2020-08-24 at 11 29 12](https://user-images.githubusercontent.com/25951005/91032564-c31c2e00-e61f-11ea-9ed8-5cd87a82270

[2020-09-11 09:30] shemingkai opened #69 "message sent to deallocated instance 0x13dd6f510"
I used object-C to integrate with LiveChat's SDK, and I downloaded the Demo(chat-window-ios) from Github.
But when I ran Example-objc in Xcode, it gave me an error.
The Xcode version I used is 11.6, the test device is an apple 6s, and the system version is IOS9.3.2.
The error is [_TtC8LiveChatP33_1F81995BCB419BD11C66D51FB47778B022ActivityIndicatorLayer release]: message sent to deallocated instanc

[2020-09-15 07:46] kamil-szostakowski commented on #68
Hi @rupeshmishra90 could you please provide more details on how did you integrate the widget? What are the languages supported by your app? On this screen there are two languages mixed together which is odd. I tested that on our end and the widget in an app supporting Spanish (if I'm not mistaken) language looks like this. All the options are properly translated.

<img width="322" alt="screen-span

[2020-09-24 07:02] birk-bre opened #71 "Chat window not opening"
When calling LiveChat.presentChat() nothing happens in the app but sometimes i get a notification on my phone saying "Customer is browsing your site" thorugh the LiveChat app. So i guess the chat is actually working but the view is just not showing up.

Inside AppDelegate:
[code]

I then call .presentChat() from a tableView delegate function
[code]

[2020-09-25 06:50] #71 closed

[2020-09-25 09:23] tuanhoang90896 commented on #65
@kamil-szostakowski it work for me. thank you verry much

[2020-10-11 14:06] Ahmedbakr70710 opened #72 "I see that you are using webView apple not accept webView how are you use the webView ?!"

[2020-10-21 04:40] rupeshmishra90 commented on #68
I'm using spanish and english in my application. I' facing issue in case of spanish

[2020-10-21 04:40] rupeshmishra90 commented on #68
Please provide me solution.

[2020-11-03 06:57] VinayRajK95 opened #73 "Livechat page fails to load"
Livechat screen displays blank screen and there is no way to dismiss the blank screen therefore user has to restart the app .

For sdk to render the chat screen, a script message should be received from the webpage (messageType : uiReady). Which is not been received when using our license id and is working fine for the example license id(1520).

attached screenshot for reference.
Could you please

[2020-11-04 10:05] VinayRajK95 commented on #73
Hi LiveChat Team,

This issue is not app specific. I'm unsure if there is issue either with license id validation or sdk.

Blank screen is also seen in the sample app provided, when we plugin customer license id there.

As previously mentioned, I have noticed a discrepancy, a message from webView is not been received when using customer license id.

WebViewBridge unknown messageType: {
    message

[2021-01-06 07:01] VinayRajK95 opened #74 "LiveChat Header is not properly visible"
Livechat Header is not readable due to low contrast between label and the view.
![GN_NJ - iOS - Live Chat](https://user-images.githubusercontent.com/59496990/103739103-203ade00-501b-11eb-96d2-b3cbc7fa3f55.png)

attached screenshot for reference.
Could you please look into this issue?

email: vinay.kanthraj@sgdigital.com

[2021-01-06 09:18] MichalPaszowski commented on #74
Hey, that bluish colour comes from the focus that you have on this element.
To change the theme of your chat widget you can go to https://my.livechatinc.com/settings/theme pick the "More colour settings" option and choose a colour for "Title bar".

[2021-01-06 09:45] VinayRajK95 commented on #74
@MichalPaszowski thank you 😀

[2021-01-06 09:45] #74 closed

[2021-01-11 10:37] kamil-szostakowski commented on #53
Closed due to inactivity.

[2021-01-11 10:37] #53 closed

[2021-01-12 08:56] kamil-szostakowski commented on #73
@VinayRajK95 thanks for your report. Could you please provide a licenseId you are using so we will be able to investigate the issue?

[2021-01-12 09:00] kamil-szostakowski commented on #72
@Ahmedbakr70710 the chat widget doesn't use `UIWebView` it uses `WKWebView` instead. Do you have a screenshot or any other "evidence"?

[2021-01-12 09:01] kamil-szostakowski commented on #68
@rupeshmishra90 could you please provide a minimal example reproducing this issue? It works perfectly fine on our end.

[2021-01-12 12:02] kamil-szostakowski commented on #60
@Pulichev this issue was added to our backlog and will be introduced in one of future releases.

[2021-01-12 12:02] #60 closed

[2021-01-12 17:48] kamil-szostakowski commented on #69
@shemingkai unfortunately, iOS 9 is no longer supported by our team. Currently (v2.0.21) we support iOS 11+.

[2021-01-12 17:48] #69 closed

[2021-01-13 09:12] VinayRajK95 commented on #73
Hi @kamil-szostakowski ,

Its loading now. thanks

[2021-01-13 09:12] #73 closed

[2021-01-27 01:48] zzzz0000aa opened #76 "Where can I find LiveChat.framework"
I cannot find LiveChat.framework in my pc.Can you tell me the download link？plz

[2021-01-27 04:21] #76 closed

[2021-01-29 11:31] kamil-szostakowski commented on #72
Closed due to inactivity.

[2021-01-29 11:31] #72 closed

[2021-02-18 17:38] 903669695 opened #77 "this error"
![IMG_1992](https://user-images.githubusercontent.com/10215733/108397659-2693bb00-7253-11eb-9989-b55b6634d777.PNG)

[2021-02-24 06:00] rupeshmishra90 commented on #68
Using following reference to use

https://developers.livechat.com/docs/getting-started/installing-livechat/ios-widget/

[2021-02-24 12:04] rupeshmishra90 commented on #68
[Example-Swift.zip](https://github.com/livechat/chat-window-ios/files/6035771/Example-Swift.zip)

[2021-02-24 12:04] rupeshmishra90 commented on #68
check this

[2021-02-24 12:17] rupeshmishra90 commented on #68
I've put strings key value but not reflected

"Browse" = "Vistazo";

[2021-03-01 12:38] rupeshmishra90 commented on #68
Please provide a solution we are struck on it

[2021-03-03 09:09] ZiggyKraus commented on #77
Hello @903669695  !

Krzysztof here, from LiveChat's Technical Support. First of all, our apologies for the late reply.

We have investigated this problem, and it seems that it is most likely caused by the custom configuration of the network to which your device connects (it may also be caused by a VPN/proxy software that you may use to route the connection). It's hard to pinpoint the exact cause

[2021-03-11 19:21] kamil-szostakowski commented on #68
@rupeshmishra90 the problem starts with this method `Bundle.swizzleLocalization()` when you will comment out this part the image selection UI starts working as expected. However I feel like this is not your real issue. You just want to see the entire chat widget translated to Spanish, am I correct?

[2021-03-12 20:34] djipsy6 opened #78 "Chat window not opening on iOS client side, but shows in admin dashboard"
Hi there

here is my AppDelegate Code:

`LiveChat.licenseId` = "MY LICENSE ID"
`LiveChat.delegate` = self

But whenever I call the method .presentChat, nothing appears.

No error message, nothing. Any help ?

PS: The only log I get is this:
`WebViewBridge unknown messageType: {
    messageType = uiReady;
}`

[2021-03-15 12:48] rupeshmishra90 commented on #68
Yes, I want to see the entire chat widget translated to Spanish

[2021-03-17 17:09] kamil-szostakowski commented on #68
@rupeshmishra90 you can set the widget language in the agent app settings. Please let me know if that solves your problem.

<img width="1226" alt="Zrzut ekranu 2021-03-17 o 18 06 39" src="https://user-images.githubusercontent.com/9430934/111508267-d02f7480-874b-11eb-8a04-57d3a8645c75.png">

[2021-03-30 12:12] rupeshmishra90 commented on #68
Can we set multiple language from here?

[2021-03-30 12:14] rupeshmishra90 commented on #68
I have a doubt if there are two users and one using english language and other using spanish then which language we have to set here.

[2021-03-31 10:53] kamil-szostakowski commented on #68
@rupeshmishra90 the dynamic language setting is not currently supported in our widget. Please file a separate ticket with a feature request so we will be able to proceed further.

[2021-04-06 16:49] kamil-szostakowski commented on #68
Closing as clarified.

[2021-04-06 16:49] #68 closed

[2021-04-06 16:49] #77 closed

[2021-04-16 07:28] ricky641b commented on #78
Just follow the step mentioned in the README of this repo
     class SceneDelegate: UIResponder, UIWindowSceneDelegate {
     var window: UIWindow?

    func scene(_ scene: UIScene, willConnectTo session: UISceneSession, options connectionOptions: UIScene.ConnectionOptions) {
        LiveChat.windowScene = (scene as? UIWindowScene)
    }
}

[2021-05-11 10:05] xiadao2014 opened #79 "Crash in IOS 14"
![微信图片_20210511180251](https://user-images.githubusercontent.com/6647392/117798067-4ac7cc80-b283-11eb-8ce8-45da1b5a916a.png)

IOS 14 click here to crash
ios11 is ok
my plist is ok

[2021-05-11 10:06] #79 closed

[2021-05-11 10:09] xiadao2014 opened #80 "IOS 14 click the link button to crash"
![微信图片_20210511180251](https://user-images.githubusercontent.com/6647392/117798617-e35e4c80-b283-11eb-8587-46e71195db05.png)

IOS 14 click here to crash
ios11 is ok
my plist is ok

[2021-05-11 10:34] czartu66 commented on #80
Hi, is that happening on your native app? Could you provide the screenshot from the crash? Checking this functionality on an IOS 14 and it works as designed

[2021-05-12 12:10] xiadao2014 commented on #80
![微信图片_20210511180251](https://user-images.githubusercontent.com/6647392/117972726-0eb56a00-b35e-11eb-9e42-363caee546a3.png)
It's according to the document https://developers.livechat.com/docs/getting-started/installing-livechat/ios-widget/#introduction Constructed

Inconvenient screenshot video

Click the red area button and the black screen will pop up

At present, only ios14 will be tested. Ple

[2021-05-12 12:11] xiadao2014 commented on #80
Click the red button and the screen will go black

Then exit to the main interface

[2021-05-17 18:45] kamil-szostakowski commented on #80
@xiadao2014 could you please provide us with a minimal sample project reproducing this issue? We are not able to reproduce the issue on our end, on iOS 14 as well.

[2021-05-27 12:55] DzakobG opened #81 "External links are not working"
External links do not open on the mobile app (iOS and Android). Clicking on the link does not transfer to an external page and does not open a pdf document. The problem does not appear on the web chat. A short video of the problem in the attachment.

[2021-05-27 12:56] #81 closed

[2021-05-27 13:02] DzakobG opened #82 "External links dont work"
External links do not open on the mobile app (iOS and Android). Clicking on the link does not transfer to an external page and does not open a pdf document. The problem does not appear on the web chat. A short video of the problem in the attachment.

https://user-images.githubusercontent.com/84912688/119830384-8063eb00-befc-11eb-905e-f8c27b5ede9e.mp4

[2021-06-08 07:04] kamil-szostakowski commented on #82
Hi, @DzakobG thanks for your report. What is the library version you are using?

[2021-06-17 08:34] wwj256 opened #83 ".mm file @import LiveChat an error Use of '@import' when C++ modules are disabled, consider using -fmodules and -fcxx-modules"
![QQ20210617-154733](https://user-images.githubusercontent.com/190939/122360694-2c8f7380-cf89-11eb-85a1-9c536dd9ea47.png)
![QQ20210617-163159](https://user-images.githubusercontent.com/190939/122361211-9f005380-cf89-11eb-8165-c4c251542d56.png)

pod 'LiveChat', '~> 2.0.20'
My project will use.mm file, @import LiveChat error
There is no way to use #import
Thank you very mush!

[2021-06-18 06:15] wwj256 commented on #83
use Xcode version 12.3(12C33)

[2021-06-18 09:27] wwj256 commented on #83
I created a.m file, added a public method, and then.mm to call it, that is, my project is horizontal, LiveChat will not become vertical after opening, what is the solution?
`+(void)showChat:(NSString*)name email:(NSString*)email
{
    LiveChat.licenseId = @"1283333"; // Set your licence number here
    //LiveChat.groupId = @"1"; // Optionally, you can set specific group
    LiveChat.name = name; /

[2021-06-30 22:43] Britishfrog opened #84 "Looking for ability to change `modalPresentationStyle`"
Hi LiveChat team!

Just started adopting your SDK for an internal proof of concept and was hoping to narrow down if the ability to change the presentation style was a current or projected option.

For now the default upon using the `LiveChat.presentChat()` function seems to be full screen. However on devices with irregular safe zones (and device with the "bunny ears") I would like to use a page sh

[2021-07-19 17:34] kamil-szostakowski commented on #84
Hello @Britishfrog this way of widget presentation is not currently supported. Initially, we decided to display the chat screen in a separate window to interfere with host apps in a minimal way. After your report, we started a discussion about giving developers more freedom to adopt the widget. The decision is not yet made but please follow the README page for the upcoming releases.

[2021-07-19 17:34] #84 closed

[2021-07-19 17:35] kamil-szostakowski commented on #80
Closed due to inactivity.

[2021-07-19 17:35] #80 closed

[2021-07-19 17:36] kamil-szostakowski commented on #78
Closing as already resolved.

[2021-07-19 17:36] #78 closed

[2021-07-19 17:37] kamil-szostakowski commented on #50
Closing due to inactivity.

[2021-07-19 17:37] #50 closed

[2021-07-19 17:45] kamil-szostakowski commented on #82
The issue is not reproducible on our end. Closing due to inactivity. @DzakobG if you still find that this issue occurs please provide more details about your integration.

[2021-07-19 17:45] #82 closed

[2021-07-19 18:25] kamil-szostakowski commented on #83
Hello @wwj256. Unfortunately, your issue is not reproducible on our end. Could you please provide a sample project reproducing this issue?

**I did the following steps.**
1. Created ObjC project.
2. Integrated the widget as SPM.
3. Added .mm file. (with some actual C++ code)
4. Reference class defined in .mm file in AppDelegate.

App build without any issues and the widget was displayed without an

[2021-07-28 08:39] ribragimovsoftlabs opened #85 "Crash in build for Ad Hoc distribution"
Application crashes under conditions:
- Build for ad hoc distribution
- SPM
- LiveChat 2.0.21
- SwiftUI (SceneDelegate)
- iOS 14.4/14.5/14.6 (iOS deploy target 13.0)
<img width="1476" alt="Снимок экрана 2021-07-28 в 11 38 51" src="https://user-images.githubusercontent.com/86843669/127292003-385d4a53-7865-44ee-924e-a1b888db05cf.png">

[2021-08-23 04:01] bubupro9x opened #86 "LiveChat not reload when reconnect network"
I have used the plugin Livechatt(https://pub.dev/packages/livechatt) to develop my project and this plugin depends on your SDK.

Please follow the steps below:
- Turn off network
- Start LiveChat
- Tap reload button
- Turn on the network (wait about 3s, but LiveChat don't reload)
- Close
- Start LiveChat
- Still reload forever.

I think something went wrong during your reload.
Please feedback to m

[2021-08-25 03:34] bubupro9x commented on #86
It seems I need to reload LiveChat in this case. But func reload is not public. Can u public this func ?

[2021-08-26 00:30] rhydiant opened #87 "Chat window load transition"
When the LiveChat window loads, the previously loaded content is shown before the loading spinner, so the loading transition appears to flicker (demo below).

https://user-images.githubusercontent.com/90287/130881199-fbe86f00-f61a-475e-802a-6a652336c9df.mov

[2021-09-27 10:44] kamil-szostakowski commented on #83
Closed due to inactivity.

[2021-09-27 10:44] #83 closed

[2021-10-04 12:40] djipsy6 opened #89 "No thread isolation"
Hi, we just installed LiveChat SDK in our iOS App. But we have an issue: When we log in to our app using Person A, then logout and log back in with Person B, Person B can see chat transcript of Person A. Isn't there a property to set in order to identify or resume each thread. Something like LiveChat.threadId = UNIQUE_CLIENT_ID. Thanks for clarifying us.

[2022-01-05 13:59] prabakaranm269 commented on #68
Hi, I'm facing **localized string not found** issue in chat page
I have used 3 languages in my App
Added strings in localised file like below

[code]
[code]

PFA, please anyone help me
Thanks in advance
![Simulator Screen Shot - iPhone 12 - 2022-01-05 at 15 32 49](https://user-images.githubusercontent.com/44673016/148228831-f7abc664-3ca9-4be8-8339-3cf8121bedd7.png)

[2022-01-06 02:13] rupeshmishra90 commented on #68
Hi,

Is this chat support any third party or created by you.

If it's a third party then please ask them to take title from your side.

On Wed, 5 Jan 2022, 7:29 pm Prabakaran M, ***@***.***> wrote:

[2022-01-11 11:10] prabakaranm269 commented on #68
Hi @rupeshmishra90 , Can you please let me know what is the issue there, then how to fix it
For me still this issue is open

[2022-01-18 05:00] prabakaranm269 commented on #68
Hi @kamil-szostakowski I'm facing that localised string not found issue, how to solve this?

[2022-01-18 09:00] rupeshmishra90 commented on #68
You need to ask with livechat team.

They said that you need to create two channels like one for English and
second for other language and redirect accordingly.

On Tue, 18 Jan 2022, 10:30 am Prabakaran M, ***@***.***>
wrote:

[2022-01-18 09:27] prabakaranm269 commented on #68
Okay @rupeshmishra90
Any options to show English only, is this possible
I mean if I changed English to French in my App Chat page will show only English

[2022-01-18 09:48] rupeshmishra90 commented on #68
You can change to create Chanel with lagenge French

On Tue, 18 Jan 2022, 2:57 pm Prabakaran M, ***@***.***> wrote:

[2022-01-18 10:10] prabakaranm269 commented on #68
Okay, in Chat admin panel right?

[2022-01-19 14:38] rupeshmishra90 commented on #68
Yes, that's right.

On Tue, 18 Jan 2022, 3:40 pm Prabakaran M, ***@***.***> wrote:

[2022-01-28 06:10] prabakaran-muthusamy opened #90 "localised string not found - iOS"
Hi,

I'm facing **localized string not found** issue in chat page

We have used English language only

PFA
FROM DEVICE
![unnamed - 2022-01-25T161424 375](https://user-images.githubusercontent.com/44673016/151937850-097d7b2d-fc58-48b8-b312-02a296eb3679.jpg)

FROM SIMULATOR
![Simulator Screen Shot - iPhone 12 - 2022-01-28 at 11 31 14](https://user-images.githubusercontent.com/44673016/151496236-cb5c

[2022-02-01 09:46] prabakaranm269 commented on #68
I have removed other language strings from my App, added English text alone like below, but still I'm facing same issue
[code]

[2022-02-01 09:47] prabakaranm269 commented on #90
Please find below issue

https://github.com/livechat/chat-window-ios/issues/68#issuecomment-1026651990

[2022-02-01 10:10] prabakaranm269 commented on #90
I have share my source code here please check this below link

https://we.tl/t-keQwcehToc

[2022-02-01 10:11] prabakaranm269 commented on #68
@rupeshmishra90 I have shared my source code please check below link
https://we.tl/t-keQwcehToc

[2022-02-20 12:29] het1511 opened #91 "Doing same procedure as in demo app still its not working"

[2022-06-08 07:33] pmehul55 commented on #91
=> Using Pod version LiveChat 2.0.24

Getting same issue, unable to present chat screen.

Please advise me if there is any change.

Thank you!

[2022-09-27 07:43] nickkhodcts commented on #53
Also experiencing this issue. Xcode 14, MacOS 12.6.

Installed LiveChat via CocoaPods. Project on Swift.
Getting No such module 'LiveChat' when adding import LiveChat